.bloco {
    height: 200px;
    border: 2px solid;
    margin: 5px;
    background-image: url(imagens/wallpaper003.jpg);
    text-align: center;
    color: white;
    text-shadow: 2px 2px 10px black;
}

#q1 {
    background-position: left top;
}

#q2 {
    background-position: left center;
}

#q3 {
    background-position: right bottom;
}

#q4 {
    background-position: center center;
}