@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Siriracha', cursive;
}


* {
    margin: 0;
    padding: 0;
}

html,
body {
    min-height: 100vh;
    background-color: lightgray;
    font-family: var(--fonte1);
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header>h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--fonte2);
    font-size: 5vw;
}

header>p {
    padding-bottom: 50px;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--fonte3);
    font-size: 3vw;
    font-style: italic;
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    background-color: rgb(22, 22, 22);
    color: white;
    background-attachment: fixed;
    background-position: left center;
    background-position: right center;
    box-shadow: inset 6px 6px 13px rgba(0, 0, 0, 0.514);
    background-size: cover;
}

#imagem1 {
    background-image: url(../imagens/background001.jpg);
}

#imagem2 {
    background-image: url(../imagens/background002.jpg);
}

section.imagem>p {
    background-color: rgba(0, 0, 0, 0.425);
    display: inline-block;
    padding-right: 20px;
    text-shadow: 2px 2px black ;
}


footer {
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
    font-weight: lighter;
}